/*-------------
 fonts
 ------------- */

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');


body{
    font-family: 'Work Sans', sans-serif;

}


/*----------------
Navigation-Bar
----------------- */
.container{
    width: 100%;
    height: 1322px;
    background-color: rgba(255, 144, 14, 0.1);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-header{
    text-align: center;
    font-size: 30px;
    color: #131313;
}
ul{
    list-style-type: none;
}
li{
    float: left;
}
li a{
    display: inline;
    text-align: center;
    font-size: 18px;
    padding: 16px;
    text-decoration: none;
    color: #424242;

}

/*----------------- 
Heading-items 
-------------------*/
.heading{
    text-align: center;
    font-size: 64px;
}

.heading-text{
    color: #727272;
    text-align: center;
    font-size: 16px;
}
.heading-buttons{
    display: flex;
    justify-content: space-around;
}

.heading-button{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color:  #FFFFFF;
}
.heading-banner{
    width: 1440px;
    height: 700px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 45px;
}

/*-----------------------------------
features gallery
 -----------------------------------*/
.features{
    display: flex;
    align-items: center;
}
.feature-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    margin-top: 61px;
}
.feature-container.gallery img{
    width: 342px;
    height: 342px;
    border-radius: 8px;

}
.gallery{
    margin-left: 301px;
}
.feature-container-details{
    margin-right: 301px;
    margin-left: 52px;
}
.feature-header{
    width: 468px;
    font-size: 45px;
    color: #727272;
}
.header-our{
    color: #131313;;
}
.header-feature-mark{
    color: #FF900E;
}
.feature-body{
    width: 537px;
    height: 78px;
    color: #727272;
}
.feature-button{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color:  #FFFFFF;
}

/*-----------------------------
 Feature-List
------------------------------*/
.feature-list{
    width: 1440px;
    height: 1059px;
    display: flex;
    justify-content: space-around;
    margin-top: 130px;

}
.feature-list-details{
    margin-left: 240px;
}
.feature-title{
    border-left: 3px solid #FF900E;
}
.feature-list-header{
    margin-left: 24px;
}
.heading-details{
    font-size: 16px;
    color: #727272;
}
.feature-list-info{
    width: 586px;
    height: 171px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    margin-right: 54px;
}
.feature-info-details{
    padding: 30px 42px 30px 30px;
}
.info-headings{
    font-size: 20px;
}
.info-details{
    font-size: 16px;
    color: #727272;
}
.feature-container-image{
    width: 800px;
    height: 1059px;
}
.feature-image img{
    width: 708px;
    height: 982px;
    border-radius: 8px;
    margin-left: 120px;
}
.feature-button-second{
    position: absolute;
    top: 3150px;
    left: 790px;
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color:  #FFFFFF;
}

/*------------------------- 
Some-facts
---------------------------*/
.facts-header{
    font-size: 45px;
    margin-left: 200px;
}
.facts-details{
    font-size: 16px;
    color: #727272;
    margin-left: 200px;
}

/*------------------------- 
Summary 
--------------------------*/
.summary-containers{
    display: flex;
    margin: 120px;
    justify-content: space-evenly
}
.summary-container{
    width: 241px;
    height: 241px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-content: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.award-count{
    color: #424242;
    font-weight: bold;
    margin-top: 10px;
}
.award-text{
    color: #727272;
    font-size: 20px;
    margin-top: 5px;
}

/*------------------------ 
Sponsors 
-------------------------*/
.sponsor-titles{
    text-align: center;
}
.sponsor-title{
    font-size: 40px;
    color: #131313;
}
.sponsor-details{
    font-size: 14px;
    color: #727272;
    margin-top: 24px;
}
.sponsor-lists{
    display: flex;
    justify-content: space-around;
    padding: 2% 10% 5% 10%;
}
.sponsor-lists img{
    filter: grayscale(100%);
}

/*---------------------------- 
Footer Section
----------------------------*/
.footer-container{
    background-color: #FFF4E7;
    text-align: center;
    padding: 10px;
    margin: 2% 13% 2% 13%;
    border-radius: 8px;
}


/*-----------------------------
 Media Queries for Responsive 
 ------------------------------*/

 /* Mobile Devices */
 @media only screen and (max-width: 688px) {
    .container{
        width: 100%;
        height: 1090px;
        background-color: rgba(255, 144, 14, 0.1);
    }
    .header, li a{
        display: flex;
        flex-direction: column;
    }

    .heading-banner img{
        width: 380px;
        height: 280px;
        border-radius: 8px;

    }
    .features{
        display: flex;
        flex-direction: column;
    }

    .feature-container{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 5px;
        margin-top: 35px;
        margin: 35px 0 10px 0;

    }
    .feature-container-details{
        margin: 0 0 0 20px;
    }
    .feature-container.gallery img{
        width: 100%;
        height: 342px;
        border-radius: 8px;
    
    }
    .feature-header{
        width: 100%;
        font-size: 30px;
    }
    .feature-body{
        width: 100%;
        text-align: left;
        margin-bottom: 50px;
    
    }
    .feature-list{
        width: 350px;
        display: block;
        justify-content: space-around;
        margin-top: 130px;
    
    }
    .feature-list-details, .feature-list-info{
        margin: 0;
        width: 380px;
        padding: 10px 0px 10px 10px;
        margin-top: 10px;
    }
    
    .feature-image img{
        width: 380px;
        height: 500px;
        border-radius: 8px;
        margin-left: 0px;
        margin-top: 15px;
    }
    .feature-button-second{
        position: absolute;
        top: 4550px;
        left: 50px;
        width: 280px;
        height: 150px;
    }
    .facts-header{
        margin-top: 65vh;
        font-size: 45px;
        margin-left: 0px;
    }
    .facts-details{
        margin-left: 0px;
    }
    .summary-containers{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .summary-container{
        margin-top: 20px;
    }
    .sponsor-lists{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sponsor-image{
        margin-top: 25px;
    }
    .footer-container{
        text-align: center;
        padding: 5px;
        margin: 2% 5% 2% 5%;
        border-radius: 8px;
    }
    

 }